<!DOCTYPE HTML>

<html>
	<head>
	

	<link href="https://fonts.googleapis.com/css?family=Crimson+Text:400,400i|Roboto+Mono" rel="stylesheet">
	
	<!-- Animate.css -->
	<link rel="stylesheet" href="css/animate.css">
	<!-- Icomoon Icon Fonts-->
	<link rel="stylesheet" href="css/icomoon.css">
	<!-- Bootstrap  -->
	<link rel="stylesheet" href="css/bootstrap.css">

	<!-- Magnific Popup -->
	<link rel="stylesheet" href="css/magnific-popup.css">

	<!-- Theme style  -->
	<link rel="stylesheet" href="css/style.css">

	<!-- Modernizr JS -->
	<script src="js/modernizr-2.6.2.min.js"></script>
	<!-- FOR IE9 below -->
	<!--[if lt IE 9]>
	<script src="js/respond.min.js"></script>
	<![endif]-->

	</head>
	<body>
		
	<div class="gtco-loader"></div>
	
	<div id="page">
	<nav class="gtco-nav" role="navigation">
		<div class="container">
			<div class="row">
				<div class="col-xs-2 text-left">
					<div id="gtco-logo"><a href="index"><font size="6">W&nbspY&nbspC&nbsp</font><span style= "font-size:25pt">?</span></a></div>
				</div>
				
			</div>
			
		</div>
	</nav>

	<header id="gtco-header" class="gtco-cover" role="banner" style="background-image:url(images/img_14.jpg);" data-stellar-background-ratio="0.5">
		<div class="overlay"></div>
		<div class="container">
			<div class="row">
				<div class="col-md-7 text-left">
					<div class="display-t">
						<div class="display-tc animate-box" data-animate-effect="fadeInUp">
<h1> If&nbsp not&nbsp us&nbsp Engineers, &nbspthen &nbspwho &nbspto&nbsp reform&nbsp Engineering&nbsp education !</h1>
							
							
						</div>
					</div>
				</div>
			</div>
		</div>
	</header>
	
	<div id="gtco-maine">
		<div class="container">
			<div class="row row-pb-md">
				<div class="col-md-12">
					<article class="mt-negative">
						<div class="text-left content-article">
							
							<div class="row">
								
								
								<div class="col-md-12 animate-box">
									
									<p> There are over fourty, branches offered in Engineering colleges in India. Out of which, we have chosen these 7 branches, to begin with. They are, </p>
								        <p> AERONAUTICAL&nbsp&nbsp 'aero' - 0</p>
<br>
<p> CHEMICAL&nbsp&nbsp 'chem' - 1</p>
<br>
<p> CIVIL&nbsp&nbsp  'civil' - 2</p>
<br>
<p> COMPUTER SCIENCE&nbsp&nbsp 'cs' - 3</p>
<br>
<p> ELECTRICAL &nbspAND&nbsp ELECTRONICS&nbsp&nbsp  'eee' - 4</p>
<br>
<p> ELECTRONICS&nbspAND&nbsp COMMUNICATION&nbsp&nbsp  'ece' - 5</p>
<br>
<p> MECHANICAL&nbsp&nbsp 'mech' - 6</p>
<br>

                                                               

                                                                        
 <br>
									 															
    								</div>
							</div>
							
							
						</div>
					</article>
				</div>
			</div>
			
		</div>
	</div>




		
	<footer id="gtco-footer" role="contentinfo">
		<div class="container">
			<div class="row row-pb-md">
				

			<div class="row copyright">
				<div class="col-md-12 text-center">
					<p>
						<small class="block">&copy; Thanks for the css classes, Free-css.com</small> 
						<small class="block"> <a href="founders.html" target="_blank">Team Bruh-grammers</a> Images: <a href="http://unsplash.com/" target="_blank">Unsplash</a>,<a href="http://reddit.com/" target="_blank">Reddit</a></small>
					</p>
					<p>
						<ul class="gtco-social-icons">
							
							<li><a href="https://www.facebook.com/jaya.suriya.5264"><i class="icon-facebook"></i></a></li>
							<li><a href="https://www.linkedin.com/in/jayasuriya-rs-3437b0119/"><i class="icon-linkedin"></i></a></li>
							<li><a href="#"><i class="icon-github"></i></a></li>
						</ul>
					</p>
				</div>
			</div>

		</div>
	</footer>
	</div>


	<div class="gototop js-top">
		<a href="#" class="js-gotop"><i class="icon-arrow-up"></i></a>
	</div>
	
	<!-- jQuery -->
	<script src="js/jquery.min.js"></script>
	<!-- jQuery Easing -->
	<script src="js/jquery.easing.1.3.js"></script>
	<!-- Bootstrap -->
	<script src="js/bootstrap.min.js"></script>
	<!-- Waypoints -->
	<script src="js/jquery.waypoints.min.js"></script>
	<!-- Stellar -->
	<script src="js/jquery.stellar.min.js"></script>
	<!-- Main -->
	<script src="js/main.js"></script>

	</body>
</html>

